<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content,title)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCM</title>
    <link data-th-href="@{'/css/output.css'}" rel="stylesheet">
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    
</head>
<body>
    <ul class="p-4">
        <li>
            <a data-th-href="@{'/home'}">Home</a>
        </li>
        <li>
            <a data-th-href="@{'/services'}">Services</a>
        </li>
        <li>
            <a data-th-href="@{'/about'}">About</a>
        </li>
    </ul>
   <div class="p-4">
    <section data-th-replace="${content}"></section>
   </div>
   <footer class="p-4">
    Footer : Learn Coding with SpringBoot
   </footer>
</body>
</html>
