<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content} , ~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Signup Page</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit justo vel ipsum lobortis, eu tempor tortor aliquet. Mauris ac urna quis risus finibus tristique. Aliquam nec libero et nunc scelerisque consequat eget id ipsum. Duis scelerisque consectetur odio, sit amet varius odio suscipit non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras id nulla ex. Integer condimentum orci quis semper elementum. Sed ac lectus eu tortor ultrices accumsan. Nullam commodo leo nec enim lobortis blandit. Suspendisse potenti. In hac habitasse platea dictumst. Nulla facilisi. Aenean rutrum, justo non tempus tincidunt, neque odio eleifend felis, non malesuada arcu libero sed lorem. Vivamus vitae magna risus. Donec et nisi turpis.
        </p>
    </div>
</body>
</html>
